body {
  margin: 0 auto;
  padding: var(--small-margin);
  text-rendering: optimizeSpeed;
  background-image: url(images/space\ bg.jpg);
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: blue;
  max-width: 1280px;
  max-height: 80vh;
  overflow-y: scroll;
  border-right-width: 1.2vh;
  scrollbar-width: thin;
  scrollbar-color: #bbb #eee;
  scroll-behavior: smooth;
  position: relative;
}
.artist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
header {
  padding: 20px;
}
p {
  background-color: white;
}
.navbar {
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
